<%- include('../master_user/header.ejs') %>

<div class="container text-center">
  <h1>Thanh toán thành công!</h1>
  <p>Cảm ơn bạn đã mua hàng. Chúng tôi đã nhận được thanh toán của bạn.</p>
  <a href="/" class="btn btn-primary">Quay lại trang chủ</a>
</div>

<%- include('../master_user/footer.ejs') %>
