<%- include('../master_user/header.ejs') %>
<div class="area-bg" style="background-image: url('');">
  <section class="breadcrumb-area tg-motion-effects breadcrumb-bg"
      data-background="/uploads/bg/breadcrumb_bg.jpg" style="background-size: cover; background-position: center; margin-top: -150px;">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="breadcrumb-content" style="margin-top:-800px;">
                      <h2 class="title">Thanh toán</h2>
                      <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/">Về trang chủ</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Thanh toán</li>
                          </ol>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- breadcrumb-area-end -->
<div class="container text-center" style="margin-top: 100px;margin-bottom: 100px;">
  <h1>Thanh toán thành công!</h1>
  <p>Cảm ơn bạn đã mua hàng. Chúng tôi đã nhận được thanh toán của bạn.</p>
  <a href="/" class="btn btn-primary">Quay lại trang chủ</a>
  <br>
</div>

<%- include('../master_user/footer.ejs') %>